page-dashboard {
  .container-search{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  .card{
    cursor: pointer;
  }

  .titulo{
    font-size: 18px;
  }

  .data-jogo{
    span{
      font-size: 16px;
    }
  }

  .btn-filter{
    color:#fff;
    margin:8px;
  }
}
