<ion-header>

  <ion-navbar>
    <ion-title>
      <button ion-button icon-only clear class="btn-voltar" (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="cancelar()">
        Cancelar
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar (ionInput)="filtrarCidades($event)"></ion-searchbar>
  <ion-list>
    <ion-item class="lista-cidades" no-padding *ngFor="let c of cidadesFiltro" (click)="escolherCidade(c)">
      <span>{{c.descricao}}</span>
      <ion-icon name="checkmark" *ngIf="c.id == cidadeEscolhida.id"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>