// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@media screen and (min-width: 768px) {

  // ****** SCROLL WHEN LARGE SCREEN ******
  /* width */
  ::-webkit-scrollbar {
      width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #cacaca;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: color($colors, primary);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: color($colors, secondary);
  }
  
  // ****** SCROLL WHEN LARGE SCREEN ******
  
  // ****** MENU BUTTON ******
  #global-btn-menu{
      display: none;
  }
  // ****** MENU BUTTON ******
}

.input-outline {
  background: transparent;
  border: 1px solid color($colors,primary);
  margin-top: 8px;
  border-radius: 8px;

  .item-inner {
    border-bottom-color: 1px solid color($colors,primary) !important;
    box-shadow: none !important;
  }

  ::placeholder {
    font-weight: bold;
    color: color($colors,primary);
  }
}

.content{
  background-color: color($colors,light);
}

.item{
  background-color: transparent;
  color: #fff;
  font-weight: bold;
}